html {
  font-size: 62.5%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-ul {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .navbar-ul {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .navbar-ul {
    font-size: 1.2rem;
  }
}
.navbar-ul-li {
  width: 100%;
  padding: 10px;
  text-align: center;
}
@media (min-width: 949px) {
  .navbar-ul-li {
    width: 12%;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-ul-li {
    width: 13%;
    padding: 0;
  }
}
.navbar-ul-li a {
  color: white;
  text-decoration: none;
}
.navbar-ul :hover {
  color: deepskyblue;
}
.navbar-toggle {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 949px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle-burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 30px;
  padding-right: 20px;
}

.active {
  display: block;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/rana.png");
  background-size: cover;
  background-position: center;
  /*  @include for-size(tablet-portrait-up){
      height: 100vh;
    }*/
}

.logo {
  position: absolute;
  padding-top: 30px;
  padding-left: 10%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: "Arial", sans-serif;
}
.text-bloc {
  width: 80%;
  padding-left: 10%;
}
.text-bloc-title {
  width: 100%;
  margin-top: 25vh;
  font-size: 2rem;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
}
@media (min-width: 600px) {
  .text-bloc-title {
    margin-top: 30vh;
    font-size: 3rem;
  }
}
.text-bloc-desc {
  width: 100%;
  margin-top: 3vh;
  line-height: 1.5em;
  font-size: 1.5rem;
  font-family: "Playfair Display Black", serif;
  color: #92F4E2;
}
@media (min-width: 600px) {
  .text-bloc-desc {
    font-size: 2rem;
  }
}
.text-social {
  display: none;
}
@media (min-width: 949px) {
  .text-social {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
.text-social-link {
  line-height: 5em;
  margin: 0 auto;
}
.text-social-link-icon {
  width: 30px;
}

.modal {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.5s ease;
  height: 100%;
}
@media (min-width: 600px) {
  .modal {
    width: 40%;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 600px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40vh;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal-content-li {
  text-align: center;
  width: 300px;
  padding: 10px;
  height: 5vh;
}
.modal-content-li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 949px) {
  .hide {
    display: none;
  }
}

.activeModal {
  right: 0;
  transition: right 0.5s ease;
}

.hover:hover {
  color: deepskyblue;
}

.resetW {
  width: 7%;
}

.resetW2 {
  width: 11%;
}
@media (min-width: 949px) {
  .resetW2 {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  .resetW2 {
    width: 8%;
  }
}

.fourcards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 949px) {
  .fourcards {
    flex-direction: row;
    width: 100%;
    height: 75vh;
    margin: -140px auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .fourcards {
    width: 80%;
  }
}
.fourcards-card {
  width: 100%;
  background-color: white;
}
@media (min-width: 949px) {
  .fourcards-card {
    width: 23%;
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    height: 90%;
  }
}
.fourcards-card-img {
  margin-top: 3vh;
}
.fourcards-card-title {
  text-align: center;
  line-height: 3em;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1.1rem;
}
.fourcards-card :hover {
  color: deepskyblue;
}
.fourcards-card-desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Playfair Display Regular", serif;
  line-height: 1.6em;
  color: #979797;
}
@media (min-width: 600px) {
  .fourcards-card-desc {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 949px) {
  .fourcards-card-desc {
    width: 90%;
    margin: 0;
  }
}
.fourcards-card :hover {
  color: deepskyblue;
}

.centerImg {
  display: flex;
  justify-content: center;
}

@media (min-width: 1100px) {
  .green-section {
    background-color: #15DAB6;
    height: 240px;
    margin-top: -100px;
  }

  .green-box {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    font-family: "Playfair Display Regular";
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: #fff;
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .green-number {
    font-family: "Tw Cen MT Condensed";
    font-size: 90px;
    color: #FFFFFF;
    opacity: 0.41;
  }

  .green-txt1 {
    width: 200px;
    margin-left: -5.5vw;
    margin-top: 50px;
    line-height: 30px;
  }

  .green-txt2 {
    margin-top: 68px;
    margin-left: -7vw;
  }

  .green-txt3 {
    margin-top: 68px;
    margin-left: -10vw;
  }

  .green-txt4 {
    margin-top: 68px;
    margin-left: -12vw;
  }
}
@media (max-width: 1099px) {
  .green-section {
    display: none;
  }
}
@media (min-width: 1100px) {
  .lastArticles-section {
    margin-top: 60px;
  }

  .lastArticles-title {
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: #15DAB6;
    font-weight: 800;
    font-style: italic;
    margin-left: 5vw;
  }

  .lastArticles-articlebox {
    display: flex;
    justify-content: space-around;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: -10px;
  }

  .lastArticles-img {
    width: 360px;
    height: 240px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .lastArticles-articleTitle {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
  }

  .lastArticles-categories {
    color: #C1C1C1;
    font-size: 14px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    /* font-weight: bold; */
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .lastArticles-articlelink {
    text-decoration: none;
  }
}
@media (max-width: 1099px) {
  .lastArticles-section {
    margin-top: 60px;
  }

  .lastArticles-title {
    font-family: "Playfair Display", serif;
    font-size: 80px;
    color: #15DAB6;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
  }

  .lastArticles-articlebox {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
    z-index: 10;
  }

  .lastArticles-img {
    height: 240px;
    width: 360px;
    margin: 10px;
  }

  .lastArticles-articleTitle {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
  }

  .lastArticles-categories {
    color: #C1C1C1;
    font-size: 14px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .lastArticles-articlelink {
    text-decoration: none;
  }
}
@media (max-width: 1099px) {
  .reading-button {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding-bottom: 16px;
    font-family: "Tw Cen MT Condensed";
    font-size: 20px;
    text-decoration: none;
    color: #767676;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .reading-border {
    border-bottom: 2px solid #D8D8D8;
    width: 50%;
    margin: 0 auto;
  }

  .reading-player {
    margin-top: 20px;
    width: 85vw;
    height: 90vh;
  }

  .reading-seeMore {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 1100px) {
  .reading-buttonSection {
    padding-top: 10px;
  }

  .reading-button {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Tw Cen MT Condensed";
    font-size: 20px;
    text-decoration: none;
    color: #767676;
  }

  .reading-border {
    border-bottom: 2px solid #D8D8D8;
    width: 50%;
    margin: 20px auto 0 auto;
  }

  .reading-player {
    width: 85vw;
    height: 80vh;
  }

  .reading-seeMore {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 110px;
  }
}
.reading-box {
  text-align: center;
  margin-top: 20px;
}

.reading-buttonBox {
  margin-top: 20px;
  text-align: center;
}

.btn-active {
  text-decoration: none;
  color: #ffffff;
  background: #15DAB6;
  padding: 11px 16px 11px 16px;
}

.reading-seeMoreLink {
  text-decoration: none;
  color: #ffffff;
  background: #15DAB6;
  padding: 11px 16px 11px 16px;
  font-family: "Tw Cen MT Condensed";
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 1099px) {
  .top-imgContainer {
    position: relative;
  }

  .top-nb {
    /* border-radius: 30px;
    box-shadow: 0 0 10px 2px #000;
    left: 180px;
    top: -25px;
    z-index: 47;
    border: 1px solid #000;
    width: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    background-color: #fff; */
    display: none;
  }

  .top-button {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding-bottom: 16px;
    font-family: "Tw Cen MT Condensed";
    font-size: 20px;
    text-decoration: none;
    color: #767676;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
  }

  .top-border {
    border-bottom: 2px solid #D8D8D8;
    width: 50%;
    margin: 0 auto;
  }

  .top-item {
    margin: 50px auto 0 auto;
    width: 100%;
  }

  .top-itemImg {
    width: 440px;
    height: 264px;
  }

  .top-imgContainer {
    width: 100%;
    text-align: center;
  }

  .top-itemInfo {
    margin: 0 auto;
    width: 440px;
  }

  .top-itemTxt {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .top-itemTxtLink {
    text-decoration: none;
    color: #979797;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    height: 180px;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .top-seeMore {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 1100px) {
  .top-imgContainer {
    position: relative;
  }

  .top-nb {
    border-radius: 30px;
    box-shadow: 0 0 10px 2px #000;
    left: -25px;
    top: -25px;
    z-index: 47;
    border: 1px solid #000;
    width: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    background-color: #fff;
  }

  .top-button {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Tw Cen MT Condensed";
    font-size: 20px;
    text-decoration: none;
    color: #767676;
    text-transform: uppercase;
  }

  .top-border {
    border-bottom: 2px solid #D8D8D8;
    width: 50%;
    margin: 20px auto 0 auto;
  }

  .top-item {
    display: flex;
    margin: 50px 150px 0 150px;
  }

  .top-itemInfo {
    margin-right: 10vw;
  }

  .top-itemImg {
    width: 440px;
    height: 264px;
    background-color: grey;
    margin-right: 50px;
    position: relative;
  }

  .top-itemTxt {
    height: 180px;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .top-itemTxtLink {
    color: #979797;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
  }

  .top-seeMore {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 150px;
  }
}
.top-background {
  width: 100%;
  height: 100px;
  background-image: url("../img/rana.png");
  /*  @include for-size(tablet-portrait-up){
      height: 100vh;
    }*/
}

.top-buttonBox {
  margin-top: 40px;
  text-align: center;
}

.btn-active {
  text-decoration: none;
  color: #ffffff;
  background: #15DAB6;
  padding: 11px 16px 11px 16px;
}

.top-itemTitle {
  width: 100%;
  text-decoration: none;
  color: #4A4A4A;
  font-weight: bold;
  font-size: 48px;
  font-family: "Tw Cen MT Condensed";
}

.top-itemSeemore {
  /* display: block; */
  text-decoration: none;
  padding-top: 10px;
  /* width: 50vw; */
  text-transform: uppercase;
  color: #4A4A4A;
  font-size: 24px;
  font-family: "Tw Cen MT Condensed";
  transition: 0.2s ease;
}

.top-itemSeemore:hover {
  color: deepskyblue;
}

.top-seeMore {
  display: flex;
  justify-content: flex-end;
}

.top-seeMoreBtn {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background: #15DAB6;
  padding: 11px 16px 11px 16px;
  font-family: "Tw Cen MT Condensed";
  font-size: 24px;
  text-transform: uppercase;
}

@media (min-width: 1100px) {
  .twitterActu-section {
    /* margin-top: 100px; */
    width: 100%;
    height: 750px;
    background-image: url("../img/twitterback.png");
    background-size: cover;
    background-position: center;
  }

  .twitterTitle {
    font-family: "Tw Cen MT Condensed";
    /* font-weight: 550; */
    font-size: 30px;
    color: #FFF;
    padding-top: 60px;
    margin-left: 6vw;
  }

  .tweet-box {
    display: flex;
    padding-top: 40px;
    justify-content: center;
  }

  .tweet1 {
    width: 30vw;
  }

  .tweet2 {
    width: 30vw;
    margin-left: -15px;
    padding-top: 200px;
    z-index: 100;
  }

  .tweet3 {
    width: 30vw;
    margin-left: -15px;
  }

  .savoirplus-section {
    display: flex;
    justify-content: flex-end;
  }

  .twitter-savoirplus {
    background-color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 148px;
  }

  .twitterLink {
    line-height: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    color: #15DAB6;
  }

  .twitter-tweet {
    box-shadow: 0px -1px 10px black;
  }
}
@media (max-width: 1099px) {
  .twitterActu-section {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url("../img/twitterback.png");
    background-size: cover;
    background-position: center;
  }

  .twitterTitle {
    font-family: "Tw Cen MT Condensed";
    font-size: 30px;
    color: #FFF;
    padding-top: 60px;
    text-align: center;
  }

  .tweet-box {
    padding-top: 40px;
  }

  .twitter-tweet {
    box-shadow: 0px -1px 10px black;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .tweet1 {
    margin-bottom: 30px;
  }

  .tweet2 {
    margin-bottom: 30px;
  }

  .tweet3 {
    margin-bottom: 30px;
  }

  .twitter-savoirplus {
    background-color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
  }

  .twitterLink {
    line-height: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    color: #15DAB6;
  }

  .savoirplus-section {
    display: flex;
    justify-content: flex-end;
  }
}
.article-list {
  display: flex;
}

.article-listItem {
  margin-right: 40px;
}

.article-listItemLink {
  text-decoration: none;
  color: #9B9B9B;
  font-size: 18px;
  font-family: "Tw Cen MT Condensed";
}

.article-listItemLinkcurrent {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-decoration: none;
  color: #9B9B9B;
  font-size: 18px;
}

.article-box {
  position: relative;
  margin: 100px 21.8vw 0 21.8vw;
}

.article-title {
  color: #4A4A4A;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.article-date {
  color: #15DAB6;
  font-size: 28px;
  font-family: "Tw Cen MT Condensed", sans-serif;
  margin-bottom: 60px;
}

.article-txt {
  color: #979797;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  line-height: 34px;
  margin-top: 20px;
}

.article-button {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.article-buttonItem {
  cursor: pointer;
  text-decoration: none;
  color: #9B9B9B;
  /* padding: 11px 16px 11px 16px; */
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-size: 20px;
  border: none;
}

@media (max-width: 800px) {
  .article-txt {
    font-size: 15px;
  }

  .article-box {
    margin: 100px 10vw 0 10vw;
  }

  .article-ficheimg {
    width: 30px;
    margin-right: 10px;
  }
}
@media (max-width: 1099px) {
  .article-ariane {
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .article-list {
    justify-content: center;
  }

  .article-date {
    color: #15DAB6;
    font-size: 28px;
    font-family: "Tw Cen MT Condensed", sans-serif;
    margin-bottom: 30px;
  }

  .article-ficheimg {
    width: 40px;
    margin-right: 40px;
  }

  .article-twitter {
    margin-right: 40px;
  }

  .article-facebook {
    margin-right: 40px;
  }

  .article-instagram {
    margin-right: 40px;
  }
}
@media (min-width: 1100px) {
  .article-ariane {
    margin-top: 40px;
    margin-left: 116px;
  }

  .article-fichepratique {
    position: absolute;
    width: 53px;
    height: 82px;
    left: -144px;
    top: 0px;
  }

  .article-twitter {
    position: absolute;
    left: -134px;
    top: 170px;
  }

  .article-facebook {
    position: absolute;
    left: -127px;
    top: 235px;
  }

  .article-instagram {
    position: absolute;
    left: -134px;
    top: 300px;
  }

  .article-youtube {
    position: absolute;
    left: -132px;
    top: 365px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-contact {
  width: 100%;
  font-family: "Tw Cen MT Bold", sans-serif;
  background-color: #15DAB6;
  color: white;
  margin-top: 5vh;
  padding: 10%;
}
@media (min-width: 949px) {
  .footer-contact {
    width: 40%;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2%;
  }
}
.footer-contact-title {
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .footer-contact-title {
    margin-top: 50px;
    margin-left: 50px;
  }
}
.footer-contact-box {
  display: flex;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.footer-contact-box-img {
  width: 50px;
}
.footer-contact-box-p {
  padding: 20px;
}
.footer-contact-horaire {
  margin-left: 30%;
  padding-left: 20px;
}
.footer-contact-social {
  display: flex;
  margin-left: 10%;
  margin-top: 10vh;
}
.footer-contact-social-link {
  width: 15%;
}
.footer-contact-social-link-icon {
  width: 30px;
}
.footer-msg {
  width: 100%;
  padding: 0;
  font-family: "Tw Cen MT Bold", sans-serif;
  margin-bottom: 5vh;
  color: #9B9B9B;
}
@media (min-width: 949px) {
  .footer-msg {
    width: 55%;
    padding-left: 5%;
  }
}
.footer-msg-title {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 2vh;
  text-align: center;
  color: #4A4A4A;
}
@media (min-width: 949px) {
  .footer-msg-title {
    margin-top: 5vh;
    text-align: left;
  }
}
.footer-msg-type {
  display: flex;
  margin-top: 10vh;
  flex-wrap: wrap;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .footer-msg-type {
    margin-left: 0;
  }
}
.footer-msg-type-title {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 3vh;
  letter-spacing: 3px;
}
@media (min-width: 949px) {
  .footer-msg-type-title {
    width: 20%;
  }
}
.footer-msg-type-row {
  width: 100%;
  height: 5vh;
}
.footer-msg-type-row input {
  margin-left: 20px;
}
.footer-msg-type-row :checked {
  border: 3px solid black;
}
.footer-msg-type-row label {
  padding-left: 10px;
  color: #767676;
}
.footer-msg-fields {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3vh;
}
.footer-msg-fields-info {
  width: 45%;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .footer-msg-fields-info {
    width: 50%;
    margin-left: 0;
  }
}
.footer-msg-fields-info label {
  height: 3vh;
  text-transform: uppercase;
  margin-top: 3vh;
  letter-spacing: 3px;
}
.footer-msg-fields-info input {
  width: 80%;
  height: 3vh;
  border: none;
  border-bottom: 1px solid #ccc;
}
.footer-msg-fields-info :focus {
  color: #15DAB6;
  outline: none;
}
.footer-msg-fields-textarea {
  width: 95%;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .footer-msg-fields-textarea {
    margin-left: 0;
    width: 100%;
  }
}
.footer-msg-fields-textarea label {
  margin-top: 5vh;
  height: 3vh;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-msg-fields-textarea textarea {
  width: 72%;
  margin-top: 3vh;
  height: 15vh;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}
.footer-msg-fields-textarea :focus {
  color: #15DAB6;
  outline: none;
}

.centerImgFooter {
  display: flex;
  justify-content: center;
  width: 30%;
}

.flexdir {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 949px) {
  .flexdir {
    width: 80%;
  }
}

input {
  font-family: "Tw Cen MT Bold", sans-serif;
  font-size: 1.2rem;
}

.send {
  position: absolute;
  bottom: 3vh;
  right: 0;
}
@media (min-width: 600px) {
  .send {
    right: 5%;
  }
}
.send img {
  width: 70px;
}

@font-face {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed Extra Bold"), url("../fonts/TCCEB.woff") format("woff");
}
@font-face {
  font-family: "Tw Cen MT Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed"), url("../fonts/TCCM____.woff") format("woff");
}
@font-face {
  font-family: "Tw Cen MT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Bold"), url("../fonts/TCB_____.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Black"), url("../fonts/PlayfairDisplay-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display BlackItalic"), url("../fonts/PlayfairDisplay-BlackItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Regular"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}
body {
  position: relative;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
