html {
  font-size: 62.5%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-ul {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .navbar-ul {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .navbar-ul {
    font-size: 1.2rem;
  }
}
.navbar-ul-li {
  text-align: center;
  width: 100%;
  padding: 10px;
}
@media (min-width: 949px) {
  .navbar-ul-li {
    width: 20%;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-ul-li {
    width: 15%;
    padding: 0;
  }
}
.navbar-ul-li a {
  color: white;
  text-decoration: none;
}
.navbar-ul :hover {
  color: deepskyblue;
}
.navbar-toggle {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 949px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle-burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 30px;
  padding-right: 20px;
}

.active {
  display: block;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/rana.png");
  background-size: cover;
  background-position: center;
  /*  @include for-size(tablet-portrait-up){
      height: 100vh;
    }*/
}

.logo {
  position: absolute;
  padding-top: 30px;
  padding-left: 10%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: "Arial", sans-serif;
}
.text-bloc {
  width: 80%;
  padding-left: 10%;
}
.text-bloc-title {
  width: 100%;
  margin-top: 25vh;
  font-size: 2rem;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
}
@media (min-width: 600px) {
  .text-bloc-title {
    margin-top: 30vh;
    font-size: 3rem;
  }
}
.text-bloc :hover {
  color: deepskyblue;
}
.text-bloc-desc {
  width: 100%;
  margin-top: 3vh;
  line-height: 1.5em;
  font-size: 1.5rem;
  font-family: "Playfair Display Black", serif;
  color: #92F4E2;
}
@media (min-width: 600px) {
  .text-bloc-desc {
    font-size: 2rem;
  }
}
.text-bloc :hover {
  color: #92F4E2;
}
.text-social {
  display: none;
}
@media (min-width: 949px) {
  .text-social {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
.text-social-link {
  line-height: 5em;
  margin: 0 auto;
}
.text-social-link-icon {
  width: 30px;
}

.modal {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.5s ease;
  height: 100%;
}
@media (min-width: 600px) {
  .modal {
    width: 40%;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 600px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40vh;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal-content-li {
  text-align: center;
  width: 300px;
  padding: 10px;
  height: 5vh;
}
.modal-content-li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 949px) {
  .hide {
    display: none;
  }
}

.activeModal {
  right: 0;
  transition: right 0.5s ease;
}

.fourcards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 949px) {
  .fourcards {
    flex-direction: row;
    width: 100%;
    height: 75vh;
    margin: -140px auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .fourcards {
    width: 80%;
  }
}
.fourcards-card {
  width: 100%;
  background-color: white;
}
@media (min-width: 949px) {
  .fourcards-card {
    width: 23%;
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    height: 90%;
  }
}
.fourcards-card-img {
  margin-top: 3vh;
}
.fourcards-card-title {
  text-align: center;
  line-height: 3em;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1.1rem;
}
.fourcards-card :hover {
  color: deepskyblue;
}
.fourcards-card-desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Playfair Display Regular", serif;
  line-height: 1.6em;
  color: #979797;
}
@media (min-width: 600px) {
  .fourcards-card-desc {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 949px) {
  .fourcards-card-desc {
    width: 90%;
    margin: 0;
  }
}
.fourcards-card :hover {
  color: deepskyblue;
}

.centerImg {
  display: flex;
  justify-content: center;
}

.about-whiteRectangle {
  position: absolute;
  margin-top: 12.6rem;
  width: 100%;
  height: 200.69rem;
  background-color: #fff;
}
@media (max-width: 599px) {
  .about-whiteRectangle {
    width: 100%;
    height: 15rem;
  }
}
.about-title {
  color: #15DAB6;
  opacity: 0.2;
  font-size: 11rem;
  font-family: "PlayfairDisplay-BlackItalic", serif;
}
@media (max-width: 599px) {
  .about-title {
    font-size: 3rem;
    text-align: center;
  }
}
.about-mookContainer {
  padding-top: 2rem;
}
@media (max-width: 599px) {
  .about-mookContainer {
    margin: 0 auto;
    width: 28.4rem;
    height: 40rem;
  }
}
.about-mook {
  display: flex;
  align-items: center;
  padding-left: 10.8rem;
}
@media (max-width: 599px) {
  .about-mook {
    padding-left: 0.01rem;
    display: flex;
    flex-direction: column;
  }
}
.about-mookImg {
  width: 5.6rem;
  height: 7.3rem;
}
@media (max-width: 599px) {
  .about-mookImg {
    width: 6.3rem;
    height: 8.2rem;
  }
}
.about-mookTitle {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  color: #4A4A4A;
  font-size: 4.8rem;
  padding-left: 4.7rem;
}
@media (max-width: 599px) {
  .about-mookTitle {
    padding-left: 0.01rem;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
.about-mookTextContainer {
  padding-left: 21.1rem;
  padding-top: 3rem;
}
@media (max-width: 599px) {
  .about-mookTextContainer {
    padding-left: 1.8rem;
  }
}
.about-mookText {
  font-family: "Playfair Display Regular", serif;
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
}
@media (max-width: 599px) {
  .about-mookText {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-listContainer {
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
  padding-top: 2rem;
}
@media (max-width: 599px) {
  .about-listContainer {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-practicalContainer {
  width: 122.3rem;
  height: 34.9rem;
  padding-top: 5rem;
  padding-left: 10.8rem;
}
@media (max-width: 599px) {
  .about-practicalContainer {
    padding-top: 10rem;
    padding-left: 0.01rem;
    margin: 0 auto;
    width: 28.4rem;
    height: 40rem;
  }
}
.about-practical {
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .about-practical {
    padding-top: 13rem;
    padding-left: 0.01rem;
    display: flex;
    flex-direction: column;
  }
}
.about-practicalImg {
  width: 5.6rem;
  height: 7.3rem;
}
@media (max-width: 599px) {
  .about-practicalImg {
    width: 6.3rem;
    height: 8.2rem;
  }
}
.about-practicalTitle {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  color: #4A4A4A;
  font-size: 4.8rem;
  padding-left: 4.7rem;
  text-align: center;
}
@media (max-width: 599px) {
  .about-practicalTitle {
    padding-left: 0.01rem;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
.about-practicalTextContainer {
  padding-left: 10.3rem;
  padding-top: 3rem;
}
@media (max-width: 599px) {
  .about-practicalTextContainer {
    padding-left: 1.8rem;
  }
}
.about-practicalText {
  font-family: "Playfair Display Regular", serif;
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
}
@media (max-width: 599px) {
  .about-practicalText {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-practicalQR {
  padding-top: 2rem;
  font-family: "Playfair Display Regular", serif;
  font-size: 2rem;
  color: #979797;
}
@media (max-width: 599px) {
  .about-practicalQR {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-applicationContainer {
  width: 122.3rem;
  height: 34.8rem;
  padding-top: 5rem;
  padding-left: 10.8rem;
}
@media (max-width: 599px) {
  .about-applicationContainer {
    padding-top: 10rem;
    padding-left: 0.01rem;
    margin: 0 auto;
    width: 28.4rem;
    height: 40rem;
  }
}
.about-application {
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .about-application {
    padding-top: 15rem;
    padding-left: 0.01rem;
    display: flex;
    flex-direction: column;
  }
}
.about-applicationImg {
  width: 5.6rem;
  height: 7.3rem;
}
@media (max-width: 599px) {
  .about-applicationImg {
    width: 6.3rem;
    height: 8.2rem;
  }
}
.about-applicationTitle {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  color: #4A4A4A;
  font-size: 4.8rem;
  padding-left: 4.7rem;
  text-align: center;
}
@media (max-width: 599px) {
  .about-applicationTitle {
    padding-left: 0.01rem;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
.about-applicationTextContainer {
  height: 23.5rem;
  padding-left: 10.3rem;
  padding-top: 3rem;
}
@media (max-width: 599px) {
  .about-applicationTextContainer {
    padding-left: 1.8rem;
  }
}
.about-applicationText {
  font-family: "Playfair Display Regular", serif;
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
}
@media (max-width: 599px) {
  .about-applicationText {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-applicationText2 {
  padding-top: 2rem;
  font-family: "Playfair Display Regular", serif;
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
}
@media (max-width: 599px) {
  .about-applicationText2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-WebContainer {
  width: 125.6em;
  height: 28rem;
  padding-top: 5rem;
  padding-left: 10.8rem;
}
@media (max-width: 599px) {
  .about-WebContainer {
    padding-top: 10rem;
    padding-left: 0.01rem;
    margin: 0 auto;
    width: 28.4rem;
    height: 40rem;
  }
}
.about-Web {
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .about-Web {
    padding-top: 10rem;
    padding-left: 0.01rem;
    display: flex;
    flex-direction: column;
  }
}
.about-WebImg {
  width: 5.6rem;
  height: 7.3rem;
}
@media (max-width: 599px) {
  .about-WebImg {
    width: 6.3rem;
    height: 8.2rem;
  }
}
.about-WebTitle {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  color: #4A4A4A;
  font-size: 4.8rem;
  padding-left: 4.7rem;
  text-align: center;
}
@media (max-width: 599px) {
  .about-WebTitle {
    padding-left: 0.01rem;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
.about-WebListContainer {
  padding-top: 3rem;
  padding-left: 10rem;
}
@media (max-width: 599px) {
  .about-WebListContainer {
    padding-left: 1.8rem;
  }
}
.about-WebList {
  font-size: 2rem;
  color: #979797;
  line-height: 3.4rem;
}
@media (max-width: 599px) {
  .about-WebList {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.about-teamContainer {
  width: 100%;
  height: 72.7rem;
}
.about-teamTitle {
  font-size: 11rem;
  font-family: "PlayfairDisplay-BlackItalic", serif;
  line-height: 192px;
  color: #15DAB6;
  opacity: 0.2;
}
@media (max-width: 599px) {
  .about-teamTitle {
    font-size: 3.4rem;
    text-align: center;
  }
}
.about-teamProfile {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 36.4rem;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .about-teamProfile {
    flex-wrap: wrap;
  }
}
.about-teamItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-teamImg {
  width: 20rem;
  height: 20rem;
}
@media (max-width: 599px) {
  .about-teamImg {
    width: 7rem;
    height: 7rem;
  }
}
.about-teamName {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  padding-top: 5rem;
  font-size: 3.6rem;
  color: #4A4A4A;
}
@media (max-width: 599px) {
  .about-teamName {
    font-size: 2rem;
  }
}
.about-teamJob {
  width: 100%;
  height: 6.4rem;
  padding-top: 1rem;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  color: #9B9B9B;
}
@media (max-width: 599px) {
  .about-teamJob {
    font-size: 1.6rem;
    line-height: 20px;
  }
}

@font-face {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed Extra Bold"), url("../fonts/TCCEB.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Black"), url("../fonts/PlayfairDisplay-Black.ttf") format("ttf");
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: local("PlayfairDisplay-BlackItalic"), url("../fonts/PlayfairDisplay-BlackItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Regular"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}
html {
  font-size: 62.5%;
}

body {
  position: relative;
  z-index: 0;
}

/*# sourceMappingURL=src/styles/style.css.map */
