html {
  font-size: 62.5%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-ul {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .navbar-ul {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .navbar-ul {
    font-size: 1.2rem;
  }
}
.navbar-ul-li {
  text-align: center;
  width: 100%;
  padding: 10px;
}
@media (min-width: 949px) {
  .navbar-ul-li {
    width: 20%;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-ul-li {
    width: 15%;
    padding: 0;
  }
}
.navbar-ul-li a {
  color: white;
  text-decoration: none;
}
.navbar-ul :hover {
  color: deepskyblue;
}
.navbar-toggle {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 949px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle-burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 30px;
  padding-right: 20px;
}

.active {
  display: block;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/rana.png");
  background-size: cover;
  background-position: center;
  /*  @include for-size(tablet-portrait-up){
      height: 100vh;
    }*/
}

.logo {
  position: absolute;
  padding-top: 30px;
  padding-left: 10%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: "Arial", sans-serif;
}
.text-bloc {
  width: 80%;
  padding-left: 10%;
}
.text-bloc-title {
  width: 100%;
  margin-top: 25vh;
  font-size: 2rem;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
}
@media (min-width: 600px) {
  .text-bloc-title {
    margin-top: 30vh;
    font-size: 3rem;
  }
}
.text-bloc :hover {
  color: deepskyblue;
}
.text-bloc-desc {
  width: 100%;
  margin-top: 3vh;
  line-height: 1.5em;
  font-size: 1.5rem;
  font-family: "Playfair Display Black", serif;
  color: #92F4E2;
}
@media (min-width: 600px) {
  .text-bloc-desc {
    font-size: 2rem;
  }
}
.text-bloc :hover {
  color: #92F4E2;
}
.text-social {
  display: none;
}
@media (min-width: 949px) {
  .text-social {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
.text-social-link {
  line-height: 5em;
  margin: 0 auto;
}
.text-social-link-icon {
  width: 30px;
}

.modal {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.5s ease;
  height: 100%;
}
@media (min-width: 600px) {
  .modal {
    width: 40%;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 600px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40vh;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal-content-li {
  text-align: center;
  width: 300px;
  padding: 10px;
  height: 5vh;
}
.modal-content-li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 949px) {
  .hide {
    display: none;
  }
}

.activeModal {
  right: 0;
  transition: right 0.5s ease;
}

.fourcards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 949px) {
  .fourcards {
    flex-direction: row;
    width: 100%;
    height: 75vh;
    margin: -140px auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .fourcards {
    width: 80%;
  }
}
.fourcards-card {
  width: 100%;
  background-color: white;
}
@media (min-width: 949px) {
  .fourcards-card {
    width: 23%;
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    height: 90%;
  }
}
.fourcards-card-img {
  margin-top: 3vh;
}
.fourcards-card-title {
  text-align: center;
  line-height: 3em;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1.1rem;
}
.fourcards-card :hover {
  color: deepskyblue;
}
.fourcards-card-desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Playfair Display Regular", serif;
  line-height: 1.6em;
  color: #979797;
}
@media (min-width: 600px) {
  .fourcards-card-desc {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 949px) {
  .fourcards-card-desc {
    width: 90%;
    margin: 0;
  }
}
.fourcards-card :hover {
  color: deepskyblue;
}

.centerImg {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed Extra Bold"), url("../fonts/TCCEB.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Black"), url("../fonts/PlayfairDisplay-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Regular"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}
body {
  position: relative;
  z-index: 0;
}
