html {
  font-size: 62.5%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-ul {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .navbar-ul {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .navbar-ul {
    font-size: 1.2rem;
  }
}
.navbar-ul-li {
  width: 100%;
  padding: 10px;
  text-align: center;
}
@media (min-width: 949px) {
  .navbar-ul-li {
    width: 12%;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-ul-li {
    width: 13%;
    padding: 0;
  }
}
.navbar-ul-li a {
  color: white;
  text-decoration: none;
}
.navbar-ul :hover {
  color: deepskyblue;
}
.navbar-toggle {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 949px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle-burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 30px;
  padding-right: 20px;
}

.active {
  display: block;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/rana.png");
  background-size: cover;
  background-position: center;
  /*  @include for-size(tablet-portrait-up){
      height: 100vh;
    }*/
}

.logo {
  position: absolute;
  padding-top: 30px;
  padding-left: 10%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: "Arial", sans-serif;
}
.text-bloc {
  width: 80%;
  padding-left: 10%;
}
.text-bloc-title {
  width: 100%;
  margin-top: 25vh;
  font-size: 2rem;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
}
@media (min-width: 600px) {
  .text-bloc-title {
    margin-top: 30vh;
    font-size: 3rem;
  }
}
.text-bloc-desc {
  width: 100%;
  margin-top: 3vh;
  line-height: 1.5em;
  font-size: 1.5rem;
  font-family: "Playfair Display Black", serif;
  color: #92F4E2;
}
@media (min-width: 600px) {
  .text-bloc-desc {
    font-size: 2rem;
  }
}
.text-social {
  display: none;
}
@media (min-width: 949px) {
  .text-social {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
.text-social-link {
  line-height: 5em;
  margin: 0 auto;
}
.text-social-link-icon {
  width: 30px;
}

.modal {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.5s ease;
  height: 100%;
}
@media (min-width: 600px) {
  .modal {
    width: 40%;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 600px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40vh;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal-content-li {
  text-align: center;
  width: 300px;
  padding: 10px;
  height: 5vh;
}
.modal-content-li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 949px) {
  .hide {
    display: none;
  }
}

.activeModal {
  right: 0;
  transition: right 0.5s ease;
}

.hover:hover {
  color: deepskyblue;
}

.resetW {
  width: 7%;
}

.resetW2 {
  width: 11%;
}
@media (min-width: 949px) {
  .resetW2 {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  .resetW2 {
    width: 8%;
  }
}

.fourcards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 949px) {
  .fourcards {
    flex-direction: row;
    width: 100%;
    height: 75vh;
    margin: -140px auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .fourcards {
    width: 80%;
  }
}
.fourcards-card {
  width: 100%;
  background-color: white;
}
@media (min-width: 949px) {
  .fourcards-card {
    width: 23%;
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    height: 90%;
  }
}
.fourcards-card-img {
  margin-top: 3vh;
}
.fourcards-card-title {
  text-align: center;
  line-height: 3em;
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  font-size: 1.1rem;
}
.fourcards-card :hover {
  color: deepskyblue;
}
.fourcards-card-desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Playfair Display Regular", serif;
  line-height: 1.6em;
  color: #979797;
}
@media (min-width: 600px) {
  .fourcards-card-desc {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 949px) {
  .fourcards-card-desc {
    width: 90%;
    margin: 0;
  }
}
.fourcards-card :hover {
  color: deepskyblue;
}

.centerImg {
  display: flex;
  justify-content: center;
}

.bot {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.bot-contact {
  width: 100%;
  font-family: "Tw Cen MT Bold", sans-serif;
  background-color: #15DAB6;
  color: white;
  margin-top: 5vh;
  padding: 10%;
}
@media (min-width: 949px) {
  .bot-contact {
    width: 40%;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2%;
  }
}
.bot-contact-title {
  text-transform: uppercase;
}
@media (min-width: 949px) {
  .bot-contact-title {
    margin-top: 50px;
    margin-left: 50px;
  }
}
.bot-contact-box {
  display: flex;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.bot-contact-box-img {
  width: 50px;
}
.bot-contact-box-p {
  padding: 20px;
}
.bot-contact-horaire {
  margin-left: 30%;
  padding-left: 20px;
}
.bot-contact-social {
  display: flex;
  margin-left: 10%;
  margin-top: 10vh;
}
.bot-contact-social-link {
  width: 15%;
}
.bot-contact-social-link-icon {
  width: 30px;
}
.bot-msg {
  width: 100%;
  padding: 0;
  font-family: "Tw Cen MT Bold", sans-serif;
  margin-bottom: 5vh;
  color: #9B9B9B;
}
@media (min-width: 949px) {
  .bot-msg {
    width: 55%;
    padding-left: 5%;
  }
}
.bot-msg-title {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 2vh;
  text-align: center;
  color: #4A4A4A;
}
@media (min-width: 949px) {
  .bot-msg-title {
    margin-top: 5vh;
    text-align: left;
  }
}
.bot-msg-type {
  display: flex;
  margin-top: 10vh;
  flex-wrap: wrap;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .bot-msg-type {
    margin-left: 0;
  }
}
.bot-msg-type-title {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 3vh;
  letter-spacing: 3px;
}
@media (min-width: 949px) {
  .bot-msg-type-title {
    width: 20%;
  }
}
.bot-msg-type-row {
  width: 100%;
  height: 5vh;
}
.bot-msg-type-row input {
  margin-left: 20px;
}
.bot-msg-type-row label {
  padding-left: 10px;
  color: #767676;
}
.bot-msg-fields {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3vh;
}
.bot-msg-fields-info {
  width: 45%;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .bot-msg-fields-info {
    width: 50%;
    margin-left: 0;
  }
}
.bot-msg-fields-info label {
  height: 3vh;
  text-transform: uppercase;
  margin-top: 3vh;
  letter-spacing: 3px;
}
.bot-msg-fields-info input {
  width: 80%;
  height: 3vh;
  border: none;
  border-bottom: 1px solid #ccc;
}
.bot-msg-fields-info :focus {
  color: #15DAB6;
  outline: none;
}
.bot-msg-fields-textarea {
  width: 95%;
  margin-left: 5%;
}
@media (min-width: 949px) {
  .bot-msg-fields-textarea {
    margin-left: 0;
    width: 100%;
  }
}
.bot-msg-fields-textarea label {
  margin-top: 5vh;
  height: 3vh;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.bot-msg-fields-textarea textarea {
  width: 72%;
  margin-top: 3vh;
  height: 15vh;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}
.bot-msg-fields-textarea :focus {
  color: #15DAB6;
  outline: none;
}

.centerImgFooter {
  display: flex;
  justify-content: center;
  width: 30%;
}

.flexdir {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 949px) {
  .flexdir {
    width: 80%;
  }
}

input {
  font-family: "Tw Cen MT Bold", sans-serif;
  font-size: 1.2rem;
}

.send {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 600px) {
  .send {
    right: 5%;
  }
}
@media (min-width: 949px) {
  .send {
    right: 10%;
    bottom: 5%;
  }
}
.send img {
  width: 70px;
}

.partenaire {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (min-width: 949px) {
  .partenaire {
    width: 90%;
    flex-direction: row;
    align-items: center;
  }
}
.partenaire-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}
@media (min-width: 600px) {
  .partenaire-div {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 949px) {
  .partenaire-div {
    width: auto;
  }
}

.footer {
  display: flex;
  width: 100%;
  background-image: url("../img/footerbackground.png");
  background-size: cover;
  background-position: center;
  color: white;
  flex-direction: column;
  padding-bottom: 3%;
}
@media (min-width: 949px) {
  .footer {
    flex-direction: row;
  }
}
.footer-left {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 949px) {
  .footer-left {
    display: block;
    width: 40%;
  }
}
.footer-left-logo {
  margin-left: 0;
}
@media (min-width: 600px) {
  .footer-left-logo {
    margin-left: 5%;
  }
}
@media (min-width: 949px) {
  .footer-left-logo {
    margin-left: 10%;
    margin-top: 10%;
  }
}
@media (min-width: 1200px) {
  .footer-left-logo {
    margin-left: 20%;
  }
}
.footer-left p {
  margin-left: 5%;
}
@media (min-width: 600px) {
  .footer-left p {
    margin-left: 20%;
  }
}
@media (min-width: 949px) {
  .footer-left p {
    margin-left: 10%;
    margin-top: 35%;
  }
}
@media (min-width: 1200px) {
  .footer-left p {
    margin-left: 20%;
    margin-top: 30%;
  }
}
.footer-right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Tw Cen MT Condensed", sans-serif;
}
@media (min-width: 949px) {
  .footer-right {
    width: 60%;
  }
}
.footer-right-col {
  width: 70%;
  margin: 7% auto 0 auto;
}
@media (min-width: 600px) {
  .footer-right-col {
    width: auto;
  }
}
.footer-right-col-title {
  height: 5vh;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
.footer-right-col ul li {
  line-height: 1.5em;
}
.footer-right-col ul li a {
  font-family: "Playfair Display Regular", sans-serif;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed Extra Bold"), url("../fonts/TCCEB.woff") format("woff");
}
@font-face {
  font-family: "Tw Cen MT Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed"), url("../fonts/TCCM____.woff") format("woff");
}
@font-face {
  font-family: "Tw Cen MT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Bold"), url("../fonts/TCB_____.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Black"), url("../fonts/PlayfairDisplay-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display BlackItalic"), url("../fonts/PlayfairDisplay-BlackItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Playfair Display Regular"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}
body {
  position: relative;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
